# =========================================================================
# Gradle & Build Artifacts (Корневой проект и все подмодули)
# =========================================================================
.gradle/
build/
bin/
out/

# Разрешаем сохранять gradle wrapper для корректной сборки на CI/CD
!gradle/wrapper/gradle-wrapper.jar

# Документация Spring Initializr
HELP.md

# =========================================================================
# IntelliJ IDEA
# =========================================================================
.idea/
*.iws
*.iml
*.ipr

# =========================================================================
# Eclipse / Spring Tool Suite (STS)
# =========================================================================
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# =========================================================================
# NetBeans
# =========================================================================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================================================================
# VS Code
# =========================================================================
.vscode/

# =========================================================================
# Системные файлы и логи
# =========================================================================
*.log
.DS_Store
Thumbs.db